name: Release
on:
  push:
    tags:
      - "*"
  workflow_dispatch:

env:
  ECR_REPO: public.ecr.aws/k1n1h4h4
  
jobs:
  build:
    name: release
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Get release version
        id: tag
        uses: divyansh-gupta/action-get-tag@727a6f0a561be04e09013531e73a3983a65e3479
      - name: Setup Dockerx
        uses: docker/setup-buildx-action@v1
      - name: Setup AWS Credentials
        uses: aws-actions/configure-aws-credentials@master
        with:
          role-to-assume: arn:aws:iam::105154636954:role/GithubActionsPublishRole-prod-us-east-1
          aws-region: us-east-1
      - name: Login to Public ECR
        uses: docker/login-action@v1
        with:
          registry: public.ecr.aws
        env:
          AWS_REGION: us-east-1
      - name: Setup Push to ECR
        run: |
          export TAG_BASE=${{ env.ECR_REPO }}/$(echo $GITHUB_REPOSITORY | sed s#/#-#)
          echo TAG_BASE=$TAG_BASE >> $GITHUB_ENV
      - name: Build and push container images
        uses: docker/build-push-action@v2
        with:
          build-args: |
            pkg_version=${{ steps.tag.outputs.tag }}
          context: .
          platforms: linux/amd64,linux/arm64
          tags: |
            ${{ env.TAG_BASE }}:latest
            ${{ env.TAG_BASE }}:${{steps.tag.outputs.tag}}
          push: true
      - name: Publish Helm chart
        uses: divyansh-gupta/helm-gh-pages@12f5926e622ccae035cf5a3bb8d67ae6db7dc4b7
        with:
          token: ${{ secrets.CR_PAT }}
          linting: "off"
          app_version: ${{ steps.tag.outputs.tag }}
