name: PR Build Validation

on:
  pull_request:
    branches: [ main ]

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v4
      with:
        go-version: '1.24.2'
    - run: make test

  e2e-tests-arm:
    needs: unit-tests
    uses: './.github/workflows/on-safe-to-test-label.yml'
    with:
      architecture: 'arm64'

  e2e-tests-x86:
    needs: unit-tests
    uses: './.github/workflows/on-safe-to-test-label.yml'
    with:
      architecture: 'x86_64'
